@import "tailwindcss";

@theme {
    --color-stone-50: #fafaf9;
    --color-stone-100: #f5f5f4;
    --color-stone-800: #292524;
    --color-stone-900: #1c1917;
    --color-terracotta: #dc2626;

    --font-serif: "Playfair Display", serif;
    --font-sans: "Inter", sans-serif;
}

@layer base {
    html {
        scroll-behavior: smooth !important;
        scroll-padding-top: 80px;
        /* Offset for internal anchors */
    }

    body {
        @apply bg-stone-50 text-stone-900 overflow-x-hidden;
        font-family: var(--font-sans);
        margin: 0;
    }

    section {
        position: relative;
    }
}