---
// src/pages/curso_Certificacion_Profesional_en_Marketing_Digital_con_IA.astro
import CourseLayout from "../layouts/CourseLayout.astro";
import CourseHeader from "../components/curso/CourseHeader.astro";
import HeroSection from "../components/curso/HeroSection.astro";
import ProblemSection from "../components/curso/ProblemSection.astro";
import SolutionSection from "../components/curso/SolutionSection.astro";
import ProgramSection from "../components/curso/ProgramSection.astro";
import ToolsSection from "../components/curso/ToolsSection.astro";
import ProjectsSection from "../components/curso/ProjectsSection.astro";
import ResultsSection from "../components/curso/ResultsSection.astro";
import FinalProjectSection from "../components/curso/FinalProjectSection.astro";
import TargetAudienceSection from "../components/curso/TargetAudienceSection.astro";
import TestimonialsSection from "../components/curso/TestimonialsSection.astro";
import PricingSection from "../components/curso/PricingSection.astro";
import FaqSection from "../components/curso/FaqSection.astro";
import CtaSection from "../components/curso/CTASection.astro";
import CourseFooter from "../components/curso/CourseFooter.astro";
---

<CourseLayout
    title="Certificación Profesional en Marketing Digital con IA | Alfredo Mendoza"
    description="Aprende Marketing Digital con IA trabajando con empresas reales. Certificación profesional de 120 horas con proyectos prácticos y tutoría personalizada."
    keywords="Marketing Digital, Inteligencia Artificial, Curso, Certificación, Alfredo Mendoza, ChatGPT, RRSS, IA, Ads"
>
    <CourseHeader />
    <main class="flex flex-col flex-1">
        <HeroSection />
        <ProblemSection />
        <SolutionSection />
        <ProgramSection />
        <ToolsSection />
        <ProjectsSection />
        <ResultsSection />
        <FinalProjectSection />
        <TargetAudienceSection />
        <TestimonialsSection />
        <PricingSection />
        <FaqSection />
        <CtaSection />
    </main>
    <CourseFooter />
</CourseLayout>
